/* main mobile design */

body {
    background-color: #D5E1EF;
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: #FFFFFF;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 75%;
    margin: 25% auto;
    padding: 5% 2%;
    border-radius: 20px;
}

main img {
    width: 90%;
    top: 50%;
    border-radius: 20px;
}

main h1 {
    font-size: 22px;
    color: #1F314F;
    line-height: 120%;
    letter-spacing: 0px;
    margin: 10px;
}

main p {
    font-size: 15px;
    color: #68778D;
    line-height: 140%;
    letter-spacing: 0.2px;
    margin: 15px;
    margin-bottom: 20px;
}

.attribution {
    margin-top: 5px;
}

/* desktop design*/

@media (min-width: 1200px) {
    main {
        width: 300px;
        padding: 5px;
    }

    main img {
        width: 275px;
        padding: 5px;
        margin: 0 auto;
    }

}